.titulo {
    color: coral;
    font-size: 20px;
}
h1{
    font-family:times new roman;
    text-align: center;
}
#subtitulo{
    color: darkblue;
}
body{
    background-color: bisque;
}
.negrito{color:red;

}